.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
  background: #426c96;
  padding: 1%;
}

button {
  background: #426c97;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3%;
  padding: 1%;
}
button.disabled {
  background: grey;
}
button:hover {
  cursor: pointer;
}

.card {
  padding: 0.5%;
  opacity: 1.0;
  transition: height 500ms 0ms, opacity 500ms 500ms;
}
.card.hide {
  transition: height 500ms 500ms, opacity 500ms 0ms;
  opacity: 0.0;
}
.card.detail {
  padding-top: 9% !important;
}
.card > div {
  padding: 2%;
  background: #f3f9fc;
  border-radius: 3%;
  border-style: groove;
  border-color: #fafafa;
}

.imgDiv {
  margin: auto;
}
img:hover {
  cursor: pointer;
}

.gallery {
  padding: 1%;
}